body {
    background-color: #777923;
    color: rgb(0, 0, 0);
    font-family: "Parkinsans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #1cb15f;
    color: rgb(245, 255, 111);
    font-family: "Parkinsans", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}